/* A COMPLETER */
.detournee{
    text-decoration: underline;
}
.contandante{
    font-weight: bold;
}
h1, section h2, section h3{
    color: red;
}

aside nav ul li ul{
    list-style: none;
}

#armes > ul li{
    color: blue;
}

#armes li ul li{
    color: green;
}
section img{
    height: 1em;
}
aside img{
    width: 20vw;
    
}
section section:last-child ul li {
    list-style: none;}